{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
<section class="brands">
    <h2>Nos marques</h2>
    <div class="bloc-brand">
        <img  src="{{ asset('bootstrap-theme/images/brand-1.jpg', 'bootstrapTheme') }}" alt="" width="150" height="71">
        <div>
            <h3>PHYSIOLAB :</h3>
            <p>Le spécialiste des produits professionnels pour l’esthétique et la kinésithérapie</p>
        </div>
    </div>
    <hr>
    <div class="bloc-brand">
        <img src="{{ asset('bootstrap-theme/images/brand-2.jpg', 'bootstrapTheme') }}" alt="" width="150" height="69">
        <div>
            <h3>CARLINA :</h3>
            <p>Fabriqués en France, les produits CARLINA allient depuis 20 ans respect de la peau et expertise.</p>
        </div>
    </div>
    <hr>
   <div class="bloc-brand">
       <img src="{{ asset('bootstrap-theme/images/brand-3.jpg', 'bootstrapTheme') }}" alt="" width="150" height="150">
       <div>
              <h3>ECOPOSTURAL :</h3>
              <p>Fabricant Espagnol de tables fixes, électriques et pliantes et d’accessoires.</p>
       </div>
   </div>
    <hr>
    <div class="bloc-brand">
        <img src="{{ asset('bootstrap-theme/images/brand-4.jpg', 'bootstrapTheme') }}" alt="" width="150" height="150">
        <div>
            <h3>LIGNE K :</h3>
            <p>fabricant français de linge de cabine. Nous voyons dans cet engagement la solution la plus sûre pour offrir à nos clients un service de qualité et de proximité.</p>
            <p>Réalisée dans des matières choisies avec soin, notre collection de linge et d’accessoires de cabine se veut accessible et disponible.</p>
            <p>Seule une maîtrise totale du cycle de production nous permet d’être attentif à chaque envie de nos clientes.</p>
        </div>
    </div>
    <hr>
    <div class="bloc-brand">
        <img src="{{ asset('bootstrap-theme/images/brand-5.jpg', 'bootstrapTheme') }}" alt="" width="150" height="150">
        <div>
            <h3>Dr Temt :</h3>
            <p>Fabricant de produits de beauté pour les instituts de beauté, les spas et les cabinets médicaux de pointe, dans plus de 71 pays à travers le monde.</p>
        </div>
    </div>
    <hr>
    <div class="bloc-brand">
        <img src="{{ asset('bootstrap-theme/images/brand-6.jpg', 'bootstrapTheme') }}" alt="" width="150" height="75">
        <div>
            <h3>Arsène Valère :</h3>
            <p>fabricant de produits cosmétiques (Maquillage, produits pour le corps, parfums, soins visage, corps, solaire, capillaire</p>
        </div>
    </div>
    <hr>
    <div class="bloc-brand">
        <img src="{{ asset('bootstrap-theme/images/brand-7.jpg', 'bootstrapTheme') }}" alt="" width="150" height="58">
        <div>
            <h3>Rubis :</h3>
            <p>fabricant suisse de pinces, ciseaux, coupe-ongles et limes</p>
        </div>
    </div>
    <hr>
    <div class="bloc-brand">
        <img src="{{ asset('bootstrap-theme/images/brand-8.jpg', 'bootstrapTheme') }}" alt="" width="150" height="134">
        <div>
            <h3>BNA :</h3>
            <p>fabricant de produits rafinés et techniques pour les mains</p>
            <p>www.beautynails.com</p>
        </div>
    </div>
    <hr>
    <div class="bloc-brand">
        <img src="{{ asset('bootstrap-theme/images/brand-9.jpg', 'bootstrapTheme') }}" alt="" width="150" height="78">
        <div>
            <h3>JEDO :</h3>
            <p>fabricant français de produits de soins pour les mains et les pieds</p>
        </div>
    </div>
</section>
{% endblock %}
