<div class=" column col-12 col-lg-6 text-center text-lg-start">
    <h4 class="ui inverted header">{{ 'sylius.ui.customer_care'|trans  }}</h4>
    <p>PLANET’ESTHETIC sélectionne pour vous, une large gamme de produits et matériels dédiés aux instituts de beauté, centres spas et centres thalasso, à des prix attractifs. Située au BIGNON en Loire-Atlantique, PLANET’ESTHETIC intervient dans tout les départements du Grand Ouest de la France. Nous exposons dans notre show-room un large éventail de matériel professionnel ainsi que des consommables et nous vous proposons un service après-vente performant, réactif et efficace. </p>
    <div class="ui inverted link list d-flex flex-column flex-lg-row">
        <a href="{{ path('sylius_shop_contact_request') }}" class="item ui button green">{{ 'sylius.ui.contact_us'|trans  }}</a>
        <a href="{{ path('app_localisation') }}" class="item ui button blue">{{ 'sylius.ui.localisation'|trans  }}</a>
        <span class="item tel">{{ 'sylius.ui.call_us'|trans }}</span>
    </div>
</div>
