<div class="three wide col-12 col-lg-3 text-center text-lg-start">
    <h4 class="ui inverted header">{{ 'sylius.ui.informations'|trans }}</h4>
    <div class="ui inverted link list">
        <a href="{{ path('sylius_shop_account_dashboard') }}" class="item">{{ 'sylius.ui.account'|trans }}</a>
        <a href="{{ path('sylius_shop_account_profile_update') }}" class="item">{{ 'sylius.ui.personnal_informations'|trans }}</a>
        <a href="{{ path('sylius_shop_account_order_index') }}" class="item">{{ 'sylius.ui.historique'|trans }}</a>
        <a href="{{ path('sylius_shop_account_address_book_index') }}" class="item">{{ 'sylius.ui.delivery'|trans }}</a>
    </div>
</div>
