<div class="three wide col-12 col-lg-3 text-center text-lg-start">
    <h4 class="ui inverted header">{{ 'sylius.ui.your_store'|trans }}</h4>
    <div class="ui inverted link list">
        <a href="{{ path('app_about_us') }}" class="item">{{ 'sylius.ui.about'|trans }}</a>
        <a href="{{ path('app_about_us') }}#showroom" class="item">{{ 'sylius.ui.showroom'|trans }}</a>
        <a href="{{ path('app_services') }}" class="item">{{ 'sylius.ui.services'|trans }}</a>
        <a href="{{ path('app_brands') }}" class="item">{{ 'sylius.ui.brand'|trans }}</a>
        <a href="{{ path('app_cgu') }}" class="item">{{ 'sylius.ui.cgu'|trans }}</a>
    </div>
</div>
